body{
    background-color: aquamarine;
    height: 100%;
}
.table{
    background-color: white;
    margin: 5px auto;
}
.area{
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}
.area:hover{
    background-color: grey;
}
.area_colored{
    background-color: black;
}
.area_dark-theme{
    border-color: white;
}
